/**
*   Lab 5 Exercise 2: CSS for Smart Lab and Sensor Webpages
*   Authors: Mariam Reda & Farah Balaha
**/


nav {
    background-color: lightgrey;
    border: 1px solid darkgrey;
}

nav a {                                  /*Nav bar items (links)*/
    display: inline-block;
    padding: 15px;
    border-right: 1px solid darkgrey;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.active {                               /*Used to display current page in nav bar*/
    background-color: bisque;
    color: firebrick;
    /* text-decoration: underline; */
}

nav a:hover {
    background-color: darkgrey;
    color: aliceblue;
}


form {
    background-color: antiquewhite;
    display:inline-block;
}

.formSection {
    /* margin: auto; */
    text-align: center;
}

/* #formHeading {
    text-align: center;
} */

fieldset {
    border: none;
}

.formLine {                             /*'Line' of content in the form*/
    display:table-row;
    text-align: left;
}

label {
    font-weight: bold;
    display: table-cell;
}

.radioBtn {
    display: table-cell;
}

#tempSetting {                          /*Temperature threshold inputtext field*/
    width: 16em;
    display: table-cell;
    margin-left: 6px;
}

#SaveBtn {
    background-color: limegreen;    
    color: white;
    font-weight: bold;
    float: right;
}


h1 {
    color: firebrick;
}


.text {                                 /*Class used for 'text' paragraphs*/
    font-family: Arial;
    font-size: 14px;
}


aside {                                 /*Aside contains SensorStreamer Logo image (to the left of text)*/
    float: left;
    margin: 30px;
}


.copyright {                            /*Copyright statement in footer on bottom-right of page*/
    text-align: right;
}
